.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        position:relative;
        background-image: url("../image/arriere-plan.jpg");
        background-size: cover;
        background-position: center;
      }
      .hello {
        margin-bottom: 10px;
        font-size: 36px;
        font-weight: bold;
        color:white;
      }
      .nom {
        font-size: 48px;
        font-weight: bold;
        color: #ff7f50;
      }
      p {
        font-family: 'Open Sans', sans-serif;
         font-size: 30px;
         color: white;
          line-height: 1.5;
           text-align: justify;
             padding: 0 20px;
      }
.contact{
  display: flex;
  padding: 10px;
  flex-direction: column;
  height: 200px
  color:white;
}
#max {
  color: white;
}
.boxe {
  display: flex;
  flex-direction:column;
  margin-bottom:10px;
  justify-content:space-between;
  height: 80%;
  color: white;
}
.nom {
  font-family:tw cen mt;
  font-size: 100px;
}
